@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.hello {
  border: 1px solid red;
}

.hello2 {
  border: 1px solid blue;
}

.text-shadow-like-border {
  text-shadow: 0.5px 0 0 #00000011, -0.5px 0 0 #00000011, 0 0.5px 0 #00000011,
    0 -0.5px 0 #00000011, 0.5px 0.5px #00000011, -0.5px -0.5px 0 #00000011,
    0.5px -0.5px 0 #00000011, -0.5px 0.5px 0 #00000011;
}
.text-shadow-like-border-black {
  text-shadow: 0.5px 0 0 black, -0.5px 0 0 black, 0 0.5px 0 black,
    0 -0.5px 0 black, 0.5px 0.5px black, -0.5px -0.5px 0 black,
    0.5px -0.5px 0 black, -0.5px 0.5px 0 black;
}
